{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "development": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ]
    },
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
