.margin-top-10 {margin-top:10px !important}
.margin-bottom-10 {margin-bottom:10px !important}
.margin-left-10 {margin-left:10px !important}
.margin-right-10 {margin-right:10px !important}

.margin-top-20 {margin-top:20px !important}
.margin-bottom-20 {margin-bottom:20px !important}
.margin-left-20 {margin-left:20px !important}
.margin-right-20 {margin-right:20px !important}

.padding-top-10 {padding-top:10px !important}
.padding-bottom-10 {padding-bottom:10px !important}
.padding-left-10 {padding-left:10px !important}
.padding-right-10 {padding-right:10px !important}

.padding-top-20 {padding-top:20px !important}
.padding-bottom-20 {padding-bottom:20px !important}
.padding-left-20 {padding-left:20px !important}
.padding-right-20 {padding-right:20px !important}

.text-center {text-align:center !important}
.text-left {text-align:left !important}
.text-right {text-align:right !important}

//borders
.border-simple {border:1px solid grey}
.border-bold {border:5px solid grey}