body {
  background: gray;
  font-family: 'Titillium Web', sans-serif;

  .content {
    max-width:960px;
    margin: 20px auto;
    width:100%;
    background:white;
    overflow:hidden;

    .main {
       min-height:500px;
    }

    .height-total {
       height:50%;
       overflow-y: scroll;
    }

    .width-lg-100 {
      width:100%;
      overflow: hidden;
    }

    .width-lg-70 {
      width:70%;
      float:left;
      overflow: hidden;
      position:relative;
      @media(max-width:767px){
        margin-top:10px;
        margin-bottom:10px;
         width:100%;
      }
    }

    .width-lg-30 {
      width:30%;
      float:left;
      overflow: hidden;
      position:relative;
      @media(max-width:767px){
        margin-top:10px;
        margin-bottom:10px;
        width:100%;
      }
    }

  }
}

